#overridethemescss
.s-profile {
    display: block;
    background: none!important;
    margin: 10px auto
}
	
.s-profile .sp-pic {
    padding: 15px 0px
}

.sp-pic>img{
    display: block; 
    border-radius: 50%;
    margin : 0px auto;
}

.s-profile .sp-pic>img {
    width: 65px!important;
    height: 65px!important;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, .54)!important;
    box-sizing: content-box;
    margin-top: 22px!important
}

.s-profile>a .sp-info {
    background: rgba(0,0,0,0);
    color: #606060;
    margin-top: 20px;
    position: relative;
    text-align: center;
    font-size:14px;
    font-weight:500;
}
.s-profile>a .sp-info2 {
    background: rgba(0,0,0,0);
    color: #606060;
    position: relative;
    text-align: center;
    font-size:12px;
}

[data-ma-theme=bluepurple] {
    background-color: #5364da
}
.hi-menu p{
    margin: 10px;
    /* margin-bottom: 20px; */
    color: #fff;
}
.card-iconic, .card-iconic>a{
    margin: 20px auto;
    text-align: center;
    font-size: 25px!important;
    color: #b3b3b3;
    display: block;
}
.card-iconic .dropdown>a{
    margin-top: -5px;
    text-align: center;
    font-size: 16px!important;
    color: #b3b3b3;
    display: block;
}
.card-iconic>a>p{
    font-size: 16px
}
.card-iconic .dropdown>a:hover,
.card-iconic>a:hover{
    color: #757576;
}
hr{
    margin: 0px
}
.views>h2{
    font-size: 23px!important;
}
.btn-icon, .btn-icon .zmdi{
    border-radius: 50%;
    width: 60px;
    line-height: 60px;
    height: 60px;
    padding: 0;
    text-align: center;
    font-size: 28px
}
.m-t-30{
    margin-top: 30px    
}
@media screen and (min-width: 768px){

    .block-header {
        padding: 25px 22px;
    }
}
.s-logo{
    margin-top: -10px
}
.s-logo .sp-pic>img {
    width: 45px!important;
    height: 45px!important;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, .54)!important;
    box-sizing: content-box;
    margin-top: 0px!important
}
@media (max-width: 768px){
    .s-logo .sp-pic>img {
        display: none;
    }
}

.s-logo>a .sp-info {
    background: rgba(0,0,0,0);
    color: #606060;
    margin-top: 0px;
    position: relative;
    text-align: center;
    font-size:14px;
    font-weight:500;
}
.s-logo>a .sp-info2 {
    background: rgba(0,0,0,0);
    color: #606060;
    position: relative;
    text-align: center;
    font-size:12px;
}
select{
    background-color: transparent;

}
.ico-lg{
    font-size: 36px;
}
.dm-icon>li>a>.fa {
    line-height: 100%;
    vertical-align: top;
    font-size: 18px;
    width: 28px;
}
.select-padding{
    padding: 0px 15px!important;
}