#overridethemescss
.s-profile {
    display: block;
    background: none!important;
    margin: 10px auto
}
	
.s-profile .sp-pic {
    padding: 15px 0px
}

.sp-pic>img{
    display: block; 
    border-radius: 50%;
    margin : 0px auto;
    background-color: #f3f3f3
}

.s-profile .sp-pic>img {
    width: 65px!important;
    height: 65px!important;
    border-radius: 50%;
    /*border: 3px solid rgba(255, 255, 255, .54)!important;*/
    box-sizing: content-box;
    margin-top: 22px!important
}

.s-profile>a .sp-info {
    background: rgba(0,0,0,0);
    color: #606060;
    margin-top: 20px;
    position: relative;
    text-align: center;
    font-size:14px;
    font-weight:500;
}
.s-profile>a .sp-info2 {
    background: rgba(0,0,0,0);
    color: #606060;
    position: relative;
    text-align: center;
    font-size:12px;
}

.s-profile .sp-pic-publik {
    padding: 15px 0px
}

.sp-pic-publik>img{
    display: block; 
    border-radius: 50%;
    margin : 0px auto;
    background-color: #f3f3f3
}

.s-profile .sp-pic-publik>img {
    width: 85px!important;
    height: 85px!important;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, .54)!important;
    box-sizing: content-box;
    margin-top: 22px!important
}
.s-profile .sp-pic-square {
    padding: 15px 0px
}

.sp-pic-square>img{
    display: block; 
    /*border-radius: 50%;*/
    margin : 0px auto;
    background-color: #f3f3f3
}

.s-profile .sp-pic-square>img {
    width: 145px!important;
    height: 183px!important;
    object-fit: cover;
    /*border-radius: 50%;*/
    /*border: 3px solid rgba(255, 255, 255, .54)!important;*/
    box-sizing: content-box;
    margin-left: 16px!important;
    background-color : ;
}
.text-long-card{
    margin-left: 25px;
    text-align :left!important;
}
[data-ma-theme=bluepurple] {
    background-color: #5364da
}
.hi-menu p{
    margin: 10px;
    /* margin-bottom: 20px; */
    color: #fff;
}
.card-iconic, .card-iconic>a{
    margin: 20px auto;
    text-align: center;
    font-size: 25px!important;
    color: #b3b3b3;
    display: block;
}
.card-iconic-plain, .card-iconic-plain>a{
    margin: 20px auto;
    text-align: center;
    font-size: 25px!important;
    color: #fff;
    display: block;
}
.card-iconic .dropdown>a{
    margin-top: -5px;
    text-align: center;
    font-size: 16px!important;
    color: #b3b3b3;
    display: block;
}
.card-iconic>a>p{
    font-size: 16px
}
.card-iconic .dropdown>a:hover,
.card-iconic>a:hover{
    color: #757576;
}
hr{
    margin: 0px
}
.views>h2{
    font-size: 23px!important;
}
.btn-icon, .btn-icon .zmdi{
    border-radius: 50%;
    width: 60px;
    line-height: 60px;
    height: 60px;
    padding: 0;
    text-align: center;
    font-size: 28px
}
.m-t-30{
    margin-top: 30px    
}
@media screen and (min-width: 768px){

    .block-header {
        padding: 25px 22px;
    }
}
.s-logo{
    margin-top: -10px
}
.s-logo .sp-pic>img {
    width: 45px!important;
    height: 45px!important;
    border-radius: 50%;
    /*border: 3px solid rgba(255, 255, 255, .54)!important;*/
    box-sizing: content-box;
    margin-top: 0px!important
}
@media (max-width: 768px){
    .s-logo .sp-pic>img {
        display: none;
    }
}

.s-logo>a .sp-info {
    background: rgba(0,0,0,0);
    color: #606060;
    margin-top: 0px;
    position: relative;
    text-align: center;
    font-size:14px;
    font-weight:500;
}
.s-logo>a .sp-info2 {
    background: rgba(0,0,0,0);
    color: #606060;
    position: relative;
    text-align: center;
    font-size:12px;
}
select{
    background-color: transparent;
    white-space:  
}
.ico-lg{
    font-size: 36px;
}
.ico-md{
    font-size: 22px;
}
.dm-icon>li>a>.fa {
    line-height: 100%;
    vertical-align: top;
    font-size: 18px;
    width: 28px;
}
.select-padding{
    padding: 0px 15px!important;
}
.p-btn{
    padding: 10px 30px
}
@media (min-width: 768px){
    #main-card{
        margin: 20px 60px;
    }
}
.card-bussiness{
    display: block;
    margin-top:80px; 
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 360px;
}
.card-bussiness-plain{
    display: block;
    margin-top:125px; 
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 360px;
}
.card-address{
    font-size: 14px;
    margin: 25px auto;
    text-align: center;
}
.card-address-long{
    font-size: 14px;
    margin: 25px 12px;
    text-align: left;
}
.card-title{
    padding: 25px 27px;
}
.card-title-publik{
    padding: 10px 27px;
}
.card-title>h2,
.card-title-publik>h2{
    font-size: 22px;
    color:#3c3c3c;
}
.card-title>h2>small,
.card-title-publik>h2>small{
    font-size: 16px;
    display: block;
    margin-top: 10px;
    line-height:160%;
    color:#848484;
}
.f-20{
    font-size: 20px
}
.f-21{
    font-size: 21px
}
.f-22{
    font-size: 22px
}
.zmdi-phone:hover{
    color: #9b59b6;
}
.zmdi-email:hover{
    color: #e74c3c;
}
.zmdi-whatsapp:hover{
    color: #2ecc71;
}
.zmdi-facebook:hover{
    color: #2980b9;
}
.zmdi-twitter:hover{
    color: #00c4ff;
}
.fa-telegram:hover{
    color: #3498db;
}
.card-bg{
    min-height: 100%!important;
    background-color : rgba(43,20,66,1);
    background-color: -moz-linear-gradient(45deg, rgba(43,20,66,1) 0%, rgba(43,20,66,1) 24%, rgba(0,15,34,1) 100%);
    background-color: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,20,66,1)), color-stop(24%, rgba(43,20,66,1)), color-stop(100%, rgba(0,15,34,1)));
    background-color: -webkit-linear-gradient(45deg, rgba(43,20,66,1) 0%, rgba(43,20,66,1) 24%, rgba(0,15,34,1) 100%);
    background-color: -o-linear-gradient(45deg, rgba(43,20,66,1) 0%, rgba(43,20,66,1) 24%, rgba(0,15,34,1) 100%);
    background-color: -ms-linear-gradient(45deg, rgba(43,20,66,1) 0%, rgba(43,20,66,1) 24%, rgba(0,15,34,1) 100%);
}
.h-inner-publik {
    list-style: none;
    /* padding: 17px 0; */
    margin-bottom: 0;
}
@media (max-width: 768px){
    .margin-publik{
        margin :30px auto;
    }
}

.card-template{
    max-width: 370px;
    height: 357px;
    margin: 0px auto;
    padding-top: 5px;
    background-color: #e1e1e1
}
.card-holder{
    display: block;
    margin: 0px auto;
    max-width: 220px;
    height: 187px
}
.card-holder-long{
    display: block;
    margin: 0px auto;
    max-width: 300px;
    height: 187px
}
.option{
    margin-top: 10px
}
.option-header>h2{
    font-size: 16px;
    color : #6b6b6b ;
}
.tmp-choosen{
    background-color: transparent;
    padding:15px;
}
.tmp-choosen:hover{ 
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
}

.card-long{
    width: 550px;
    background-color: #fff
}
.card-bussiness-long{
    display: block;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 540px;
}
@media (max-width: 768px){
    .card-holder-long{
        display: block;
        margin: 0px auto;
        max-width: 300px;
        height: 187px
    }
    .card-long{
        max-width: 100%;
        height: auto;
        background-color: #fff
    }
    .card-bussiness-long{
        display: block;
        margin-top: 125px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        max-width: 540px;
    }
    .text-long-card{
        margin-left: 0px;
        text-align :center!important;
    }
    .card-address-long{
        font-size: 14px;
        margin: 25px 0px;
        text-align: center;
    }
    .s-profile .sp-pic-square>img {
        width: 145px!important;
        height: 183px!important;
        object-fit: cover;
        /*border-radius: 50%;*/
        /*border: 3px solid rgba(255, 255, 255, .54)!important;*/
        box-sizing: content-box;
        margin: 20px auto!important;
        background-color : ;
    }
}
.pad-b-51{
    padding-bottom: 51px
}
.login-content {
    max-width: 100%;
    height: auto;
    text-align: center;
    background-color: #ececec!important;
}
.btn-login{
    border-radius: 50%;
    /*padding: 25px 25px;*/
    margin: 10px auto!important;
}
.login-logo {
    display: block;
    background: none!important;
    margin: 10px auto
}
    
.login-logo .sp-login {
    padding: 15px 0px
}

.sp-login >img{
    display: block; 
    border-radius: 50%;
    margin : 20px auto;
    background-color: #f3f3f3
}

.login-logo .sp-login >img {
    width: 120px!important;
    height: 120px!important;
    border-radius: 50%;
    /*border: 3px solid rgba(255, 255, 255, .54)!important;*/
    box-sizing: content-box;
    /*margin-top: 22px!important*/
}
.login-content{
    min-height: 100%;
}
.btn-login{
    padding: 15px 75px;
    margin: 10px auto!important;
    border-radius: 0px;s
} 
/*.img-holder>img{
    height: 150px;
    width: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    background-color: #f5f5f5;
}*/